[core]
	editor = nvim
	preloadindex = true
[alias]
	s = status
	ss = status -uno
	l = log --pretty=format:'%C(bold yellow)%h%Creset %Cgreen%ad %C(bold)(%ar) %Creset%s %Cblue(%an)' --date=short
	ls = log --pretty=format:'%C(bold yellow)%h%Creset %Cgreen%ad %C(bold)(%ar) %Creset%s %Cblue(%an)' --date=short -n5
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold yelow)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold yelow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1
	br = branch
	ci = commit
	ci = commit --cleanup=scissors
	cia = commit --amend --no-edit
	co = checkout
	a = add
	aa = add -A :/
	f = fetch
	m = merge
	rb = rebase
	rbc = rebase --continue
	rbm = rebase -i origin/main
	st = stash
	cp = cherry-pick
	cpc = cp --continue 
	ama = !git aa && git cia
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true

# Uber related
[commit]
[url "ssh://code.uber.internal/"]
	insteadOf = https://code.uber.internal/
[url "ssh://config.uber.internal/"]
	insteadOf = https://config.uber.internal/
[url "ssh://gitolite@code.uber.internal/"]
	insteadOf = git://code.uber.internal/
[url "ssh://git@github.com/uber/"]
	insteadOf = https://github.com/uber/
[credential "https://git.uberinternal.com"]
	helper = !arh auth git-credential
[credential "https://vfs4g-cache.uberinternal.com"]
	helper = usso
[farc "update"]
	url = gitolite@code.uber.internal:community/farc
[farc "upload"]
    add-repo-prefix = false
[user]
	name = rkochp
	email = rkochp@ext.uber.com
